body {
  margin: 0;
  padding: 0;
  background: white;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);               
  // display: block;
  // margin: 0 auto 0 auto;
  background: white;
  box-sizing: border-box;
  width: 95vw;
  height: 95vh;
}
