:root {
  --light-blue:#0088FF;
  --blue:#0000AA;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

pre {
  font-family: 'jgs7', sans-serif;
  line-height: 12pt;
  color: #0088FF;
  background-color: #0000AA;
  unicode-bidi: embed;
  white-space: pre;
}

.selection {
  color: #0000AA;
  background-color: #0088FF;
}
